html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 40px;
}
